In [20]:
arrow::read_parquet(here("data", "featureless.parquet"), as_data_frame = TRUE) -> atp
arrow::read_parquet(here("data", "atpTrans.parquet")) -> atpFull
library(skimr)

In [21]:
# features q faltam:
# tipo do torneio (afonse)
# frequencia do torneio
# premio (precisa eda) 
# distancia da ronda final (chaves)
# categoria de rank (eda)
# ultimo torneio do jogador
# ngames ate o ponto

# Categorias de torneio

Superiores:
    - Grand Slams (melhor de 5)
    - Masters 1000 (considerado o 5º Grand Slam) (melhor de 3)

Intermédios:
    - ATP 500 (terceiro nível de torneios, distribuindo 500 pontos ao campeão)
    - ATP 250 (distribui 250 pontos ao campeão)
    - ATP Finals (reúne os oito primeiros colocados do ranking ao final da temporada. Possui grande importância no calendário dos tenistas, 
                  algo próximo aos torneios Masters 1000)
    - Copa Davis (Onde ocorre a dispuita tradicional entre países)

Menores:
    - Challenger (tenistas tentam somar pontos que os permitam participar de competições mais importantes, ingressando no circuito da ATP)
    - Futures (torneios de categoria inferior ao nível Challenger)

# Número de jogos jogados

In [22]:
atp %>%
    group_by(winner.name, winner.id) %>% 
    summarise(player.nwins = n()) %>% 
    rename(player.name = winner.name, player.id = winner.id) -> a
atp %>%
    group_by(looser.name, looser.id) %>% 
    summarise(player.nlosses = n()) %>% 
    rename(player.name = looser.name, player.id = looser.id) -> b

full_join(a, b) %>% mutate(
    player.nwins   = ifelse(player.nwins %>% is.na, 0, player.nwins),
    player.nlosses = ifelse(player.nlosses %>% is.na, 0, player.nlosses),
    player.njogos  = player.nwins + player.nlosses,
    player.winrate = player.nwins*100 / player.njogos,
) -> playerRate
playerRate

group_by: 2 grouping variables (winner.name, winner.id)

summarise: now 901 rows and 3 columns, one group variable remaining (winner.name)

rename: renamed 2 variables (player.name, player.id)

group_by: 2 grouping variables (looser.name, looser.id)

summarise: now 1,194 rows and 3 columns, one group variable remaining (looser.name)

rename: renamed 2 variables (player.name, player.id)

Joining with `by = join_by(player.name, player.id)`
full_join: added one column (player.nlosses)

           > rows only in x      17

           > rows only in y     310

           > matched rows       884

           >                 =======

           > rows total       1,211

mutate (grouped): converted 'player.nwins' from integer to double (310 fewer NA)

                  converted 'player.nlosses' from integer to double (17 fewer NA)

                  new variable 'player.njogos' (double) with 79 unique values and 0% NA

                  new variable 'player.winrate' (double) with 166 unique values and 0% NA

     player.name             player.id player.nwins player.nlosses
1    Aaron Addison           ad06       8           37
2    Aaron Krickstein        k023      20            6
3    Adam Feeney             f491      39           54
4    Adrian Garcia           g414       3            3
5    Adrian Mannarino        me82       4            5
6    Adrian Voinea           v166       3            2
7    Agustin Calleri         c478       1            2
8    Akira Santillan         sq80      16           19
9    Albert Chang            c308       1            2
10   Albert Ramos-Vinolas    r772       3            2
11   Alberto Francis         f376       2            3
12   Alberto Martin          m590      10            7
13   Aldin Setkic            sf41       2            1
14   Alejandro Falla         f444       3            5
15   Alejandro Tabilo        te30       3            4
16   Aleksandar Vukic        v832      11           13
17   Aleksandr Nedovyesov    n503       4            3
18   Alessandro Bega         bf98       2            2
19   Alex Bolt               bi81      84           66
20   Alex Corretja           c344       2            0
21   Alex Kim                k379       1            2
22   Alex Kuznetsov          k737       1            3
23   Alex Molcan             mv14       2            1
24   Alex O'Brien            o099       4            3
25   Alex de Minaur          dh58      18           12
26   Alexander Babanine      bj18       3           10
27   Alexander Bublik        bk92       3            7
28   Alexander Crnokrak      c0a0       7           13
29   Alexander Peya          p467       2            5
30   Alexander Sarkissian    sl07      16           12
⋮    ⋮                       ⋮         ⋮            ⋮
1182 Thiemo de Bakker        d776      0            4
1183 Thierry Champion        c028      0            3
1184 Tim Wilkison            w019      0            1
1185 Tobias Klein            k840      0            1
1186 Toby Martin             ml51      0            7
1187 Tom Evans               e0aq      0            1
1188 Tom Nijssen             n018      0            3
1189 Tomas Martin Etcheverry ea24      0            1
1190 Toshiaki Sakai          s670      0            2
1191 Tuomas Ketola           k297      0            1
1192 Ty Trombetta            ta01      0            2
1193 Vaclav Roubicek         r200      0            1
1194 Vadim Kutsenko          k308      0            2
1195 Victor Hanescu          h528      0            2
1196 Viktor Durasovic        dc76      0            6
1197 Vinayak Sharma Kaza     sm71      0            1
1198 Vincent Van Gelderen    v101      0            1
1199 Vitaliy Sachko          ss25      0            1
1200 Wayne Black             b499      0            2
1201 Wesley Moodie           m759      0            2
1202 William Ma              ms03      0            4
1203 Xavier Daufresne        d190      0            1
1204 Yecong He               hb59      0            1
1205 Yong-Il Yoon            y033      0            1
1206 Yu Chang                ca82      0            3
1207 Yves Allegro            a293      0            1
1208 Zdenek Kolar            kh56      0            2
1209 Zeeshan Ali             a165      0            1
1210 Zhaoyi Cao              cg42      0            2
1211 Zsombor Piros           p09o      0            2
     player.njogos player.winrate
1     45            17.77778
2     26            76.92308
3     93            41.93548
4      6            50.00000
5      9            44.44444
6      5            60.00000
7      3            33.33333
8     35            45.71429
9      3            33.33333
10     5            60.00000
11     5            40.00000
12    17            58.82353
13     3            66.66667
14     8            37.50000
15     7            42.85714
16    24            45.83333
17     7            57.14286
18     4            50.00000
19   150            56.00000
20     2           100.00000
21     3            33.33333
22     4            25.00000
23     3            66.66667
24     7            57.14286
25    30            60.00000
26    13            23.07692
27    10            30.00000
28    20            35.00000
29     7            28.57143
30    28            57.14286
⋮    ⋮             ⋮
1182 4             0
1183 3             0
1184 1             0
1185 1             0
1186 7             0
1187 1             0
1188 3             0
1189 1             0
1190 2             0
1191 1             0
1192 2             0
1193 1             0
1194 2             0
1195 2             0
1196 6             0
1197 1             0
1198 1             0
1199 1             0
1200 2             0
1201 2             0
1202 4             0
1203 1             0
1204 1             0
1205 1             0
1206 3             0
1207 1             0
1208 2             0
1209 1             0
1210 2             0
1211 2             0

In [23]:
atp %>% 
    left_join(playerRate, by=join_by(winner.name == player.name, winner.id == player.id)) %>% 
    rename(
        winner.Anwins   = player.nwins, 
        winner.Anlosses = player.nlosses, 
        winner.Anjogos  = player.njogos, 
        winner.Awinrate = player.winrate
    ) %>% left_join(playerRate, by=join_by(looser.name == player.name, looser.id == player.id)) %>% 
    rename(
        looser.Anwins   = player.nwins, 
        looser.Anlosses = player.nlosses, 
        looser.Anjogos  = player.njogos, 
        looser.Awinrate = player.winrate
    ) %>% mutate(
        match.AnjogosDiff = winner.Anjogos - looser.Anjogos
    ) -> atpP
atpP %>% glimpse()

rename: renamed 4 variables (winner.Anwins, winner.Anlosses, winner.Anjogos, winner.Awinrate)

rename: renamed 4 variables (looser.Anwins, looser.Anlosses, looser.Anjogos, looser.Awinrate)

mutate: new variable 'match.AnjogosDiff' (double) with 334 unique values and 0% NA

Rows: 6,365
Columns: 37
$ winner.name             <chr> "Novak Djokovic", "Roberto Bautista Agut", "Da…
$ winner.id               <chr> "d643", "bd06", "e687", "mm58", "gb88", "l987"…
$ winner.rank             <int> 2, 9, 42, 5, 11, 34, 17, 30, 2, 9, 18, 18, 24,…
$ winner.bornAt           <fct> Serbia, Spain, United Kingdom, Russia, Belgium…
$ match.domHands          <fct> Right-Handed_Left-Handed, Right-Handed_Right-H…
$ match.backHands         <fct> Two-Handed Backhand_Two-Handed Backhand, Two-H…
$ winner.height           <dbl> 188, 183, 175, 198, 180, 183, 198, 193, 188, 1…
$ looser.name             <chr> "Rafael Nadal", "Dusan Lajovic", "Alex de Mina…
$ looser.id               <chr> "n409", "l987", "dh58", "sm37", "n409", "ag37"…
$ looser.rank             <int> 1, 34, 18, 14, 1, 21, 25, 53, 15, 160, 7, 15, …
$ looser.bornAt           <fct> Spain, Serbia, Australia, Argentina, Spain, Ca…
$ looser.height           <dbl> 185, 183, 183, 170, 185, 193, 183, 188, 185, 1…
$ match.tournamentRound   <fct> Finals, Finals, Quarter-Finals, Quarter-Finals…
$ match.setsCount         <fct> 2, 2, 3, 3, 2, 2, 2, 2, 3, 2, 3, 3, 3, 3, 3, 2…
$ match.hadTieBreaker     <lgl> FALSE, FALSE, TRUE, FALSE, FALSE, FALSE, FALSE…
$ tournament.name         <chr> "ATP Cup", "ATP Cup", "ATP Cup", "ATP Cup", "A…
$ tournament.ground       <fct> Hard, Hard, Hard, Hard, Hard, Hard, Hard, Hard…
$ tournament.date_start   <date> 2019-12-30, 2019-12-30, 2019-12-30, 2019-12-3…
$ tournament.date_finish  <date> 2020-01-12, 2020-01-12, 2020-01-12, 2020-01-1…
$ tournament.duration     <int> 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13…
$ tournament.prize        <dbl> 22200000, 22200000, 22200000, 22200000, 222000…
$ match.diffHeights       <dbl> 3, 0, -8, 28, -5, -10, 15, 5, 3, 3, -15, -2, 1…
$ match.avgHeights        <dbl> 186.5, 183.0, 179.0, 184.0, 182.5, 188.0, 190.…
$ tournament.month        <ord> Dec, Dec, Dec, Dec, Dec, Dec, Dec, Dec, Dec, D…
$ tournament.quarter      <fct> 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4…
$ tournament.dateDistance <drtn> -1421884800 secs, -1421884800 secs, -14218848…
$ match.diffRank          <int> 1, -25, 24, -9, 10, 13, -8, -23, -13, -151, 11…
$ match.avgRank           <dbl> 1.5, 21.5, 30.0, 9.5, 6.0, 27.5, 21.0, 41.5, 8…
$ winner.Anwins           <dbl> 13, 10, 13, 14, 5, 4, 11, 24, 13, 10, 18, 18, …
$ winner.Anlosses         <dbl> 1, 3, 3, 4, 5, 7, 4, 11, 1, 3, 12, 12, 3, 3, 3…
$ winner.Anjogos          <dbl> 14, 13, 16, 18, 10, 11, 15, 35, 14, 13, 30, 30…
$ winner.Awinrate         <dbl> 92.85714, 76.92308, 81.25000, 77.77778, 50.000…
$ looser.Anwins           <dbl> 9, 4, 18, 5, 9, 9, 3, 5, 6, 7, 3, 6, 4, 2, 5, …
$ looser.Anlosses         <dbl> 3, 7, 12, 7, 3, 7, 3, 7, 8, 8, 8, 8, 7, 5, 5, …
$ looser.Anjogos          <dbl> 12, 11, 30, 12, 12, 16, 6, 12, 14, 15, 11, 14,…
$ looser.Awinrate         <dbl> 75.00000, 36.36364, 60.00000, 41.66667, 75.000…
$ match.AnjogosDiff       <dbl> 2, 2, -14, 6, -2, -5, 9, 23, 0, -2, 19, 16, -6…

In [24]:
atpFull %>%
    group_by(winner.name, winner.id) %>% 
    summarise(player.nwins = n()) %>% 
    rename(player.name = winner.name, player.id = winner.id) -> a
atpFull %>%
    group_by(looser.name, looser.id) %>% 
    summarise(player.nlosses = n()) %>% 
    rename(player.name = looser.name, player.id = looser.id) -> b

full_join(a, b) %>% mutate(
    player.nwins   = ifelse(player.nwins %>% is.na, 0, player.nwins),
    player.nlosses = ifelse(player.nlosses %>% is.na, 0, player.nlosses),
    player.njogos  = player.nwins + player.nlosses,
    player.winrate = player.nwins*100 / player.njogos,
) -> playerRateF
playerRateF

group_by: 2 grouping variables (winner.name, winner.id)

summarise: now 12,001 rows and 3 columns, one group variable remaining (winner.name)

rename: renamed 2 variables (player.name, player.id)

group_by: 2 grouping variables (looser.name, looser.id)

summarise: now 22,905 rows and 3 columns, one group variable remaining (looser.name)

rename: renamed 2 variables (player.name, player.id)

Joining with `by = join_by(player.name, player.id)`
full_join: added one column (player.nlosses)

           > rows only in x      475

           > rows only in y   11,379

           > matched rows     11,526

           >                 ========

           > rows total       23,380

mutate (grouped): converted 'player.nwins' from integer to double (11379 fewer NA)

                  converted 'player.nlosses' from integer to double (475 fewer NA)

                  new variable 'player.njogos' (double) with 889 unique values and 0% NA

                  new variable 'player.winrate' (double) with 3,340 unique values and 0% NA

      player.name             player.id player.nwins player.nlosses
1     A.J. Catanzariti        ci19       21           38
2     AC Hans Van Swol        NA          1            0
3     Aaro Pollanen           ph59        5           19
4     Aaron  Cohen            NA          1           10
5     Aaron Addison           ad06       44           96
6     Aaron Banasik           bl87        3           11
7     Aaron Bishop            bf00        1            2
8     Aaron Cohen             c0hf        2           10
9     Aaron Cortes Alcaraz    cg47       43           98
10    Aaron Dujovne           d887        5           14
11    Aaron Krickstein        k023      396          261
12    Aaron Krickstein        NA          2            0
13    Aaron Leeder-Chard      lb03       15           41
14    Aaron Marchetti         m804       10           16
15    Aaron Ramos             r604        5            7
16    Aaron Ramos             NA          1            0
17    Aaron Schmid            s0gy       28           34
18    Aaron Talarico          t357        4            8
19    Aaron Yovan             y131        4           18
20    Aayush Mintri           mp55        1            3
21    Abdelhak Hameurlaine    h298       30           32
22    Abdelkader Benabdellah  bk23        1            8
23    Abdul Hamid Makhkamov   m745       23           59
24    Abdul Kahar Mim         NA          1            6
25    Abdul-Mumin Babalola    ba28       36           49
26    Abdul-Rahman Shehab     sf35        1            7
27    Abdulhamid Mubarak      mk56        4           16
28    Abdullah Maqdes         mb94      122          139
29    Abdullah Maqdes         NA          1            0
30    Abdullah Shaikh         ss34        6           16
⋮     ⋮                       ⋮         ⋮            ⋮
23351 Ze Shuo Yang            NA        0            2
23352 Zekai Li                NA        0            1
23353 Zelimir Rudan           NA        0            1
23354 Zeljko Ivic             NA        0            1
23355 Zhanbolat Zhakupov      NA        0            5
23356 Zhanger Almashev        NA        0            2
23357 Zhao Yang Wang          NA        0            6
23358 Zhaslan Omarov          NA        0            1
23359 Zhe Zhang               NA        0            1
23360 Zheng 'ricky' Li        NA        0            1
23361 Zheng Li                NA        0            9
23362 Zheng Qi Jonathan Zhang NA        0            2
23363 Zhenxiong Dong          NA        0            2
23364 Zhi-Wei Sun             NA        0            1
23365 Zhicheng Wang           NA        0            1
23366 Zhou Mingzhou           NA        0            4
23367 Zhu Guo                 NA        0            3
23368 Zhuo Zhang              NA        0            5
23369 Zied Skik               NA        0            1
23370 Zinelaabidine Jouini    NA        0            3
23371 Zlad Melhaoui           NA        0            1
23372 Zlatko Stupavsky        NA        0            1
23373 Zoltan Ilin             NA        0            3
23374 Zoran Mihailovic        m791      0            4
23375 Zoran Radenovic         NA        0            3
23376 Zoran Sevcenko          s437      0            3
23377 Zsolt Somogyi           NA        0            2
23378 Zuxin Zheng             NA        0            2
23379 Zviad Tsertsvadze       NA        0            1
23380 Zvonimir Babic          NA        0            4
      player.njogos player.winrate
1      59            35.593220
2       1           100.000000
3      24            20.833333
4      11             9.090909
5     140            31.428571
6      14            21.428571
7       3            33.333333
8      12            16.666667
9     141            30.496454
10     19            26.315789
11    657            60.273973
12      2           100.000000
13     56            26.785714
14     26            38.461538
15     12            41.666667
16      1           100.000000
17     62            45.161290
18     12            33.333333
19     22            18.181818
20      4            25.000000
21     62            48.387097
22      9            11.111111
23     82            28.048780
24      7            14.285714
25     85            42.352941
26      8            12.500000
27     20            20.000000
28    261            46.743295
29      1           100.000000
30     22            27.272727
⋮     ⋮             ⋮
23351 2             0
23352 1             0
23353 1             0
23354 1             0
23355 5             0
23356 2             0
23357 6             0
23358 1             0
23359 1             0
23360 1             0
23361 9             0
23362 2             0
23363 2             0
23364 1             0
23365 1             0
23366 4             0
23367 3             0
23368 5             0
23369 1             0
23370 3             0
23371 1             0
23372 1             0
23373 3             0
23374 4             0
23375 3             0
23376 3             0
23377 2             0
23378 2             0
23379 1             0
23380 4             0

In [25]:
atpP %>% 
    left_join(playerRateF, by=join_by(winner.name == player.name, winner.id == player.id)) %>% 
    rename(
        winner.nwins   = player.nwins, 
        winner.nlosses = player.nlosses, 
        winner.njogos  = player.njogos, 
        winner.winrate = player.winrate
    ) %>% left_join(playerRate, by=join_by(looser.name == player.name, looser.id == player.id)) %>% 
    rename(
        looser.nwins   = player.nwins, 
        looser.nlosses = player.nlosses, 
        looser.njogos  = player.njogos, 
        looser.winrate = player.winrate
    ) %>% mutate(
        match.njogosDiff = winner.njogos - looser.njogos
    ) -> atpPP
atpPP %>% glimpse()

rename: renamed 4 variables (winner.nwins, winner.nlosses, winner.njogos, winner.winrate)

rename: renamed 4 variables (looser.nwins, looser.nlosses, looser.njogos, looser.winrate)

mutate: new variable 'match.njogosDiff' (double) with 1,141 unique values and 0% NA

Rows: 6,365
Columns: 46
$ winner.name             <chr> "Novak Djokovic", "Roberto Bautista Agut", "Da…
$ winner.id               <chr> "d643", "bd06", "e687", "mm58", "gb88", "l987"…
$ winner.rank             <int> 2, 9, 42, 5, 11, 34, 17, 30, 2, 9, 18, 18, 24,…
$ winner.bornAt           <fct> Serbia, Spain, United Kingdom, Russia, Belgium…
$ match.domHands          <fct> Right-Handed_Left-Handed, Right-Handed_Right-H…
$ match.backHands         <fct> Two-Handed Backhand_Two-Handed Backhand, Two-H…
$ winner.height           <dbl> 188, 183, 175, 198, 180, 183, 198, 193, 188, 1…
$ looser.name             <chr> "Rafael Nadal", "Dusan Lajovic", "Alex de Mina…
$ looser.id               <chr> "n409", "l987", "dh58", "sm37", "n409", "ag37"…
$ looser.rank             <int> 1, 34, 18, 14, 1, 21, 25, 53, 15, 160, 7, 15, …
$ looser.bornAt           <fct> Spain, Serbia, Australia, Argentina, Spain, Ca…
$ looser.height           <dbl> 185, 183, 183, 170, 185, 193, 183, 188, 185, 1…
$ match.tournamentRound   <fct> Finals, Finals, Quarter-Finals, Quarter-Finals…
$ match.setsCount         <fct> 2, 2, 3, 3, 2, 2, 2, 2, 3, 2, 3, 3, 3, 3, 3, 2…
$ match.hadTieBreaker     <lgl> FALSE, FALSE, TRUE, FALSE, FALSE, FALSE, FALSE…
$ tournament.name         <chr> "ATP Cup", "ATP Cup", "ATP Cup", "ATP Cup", "A…
$ tournament.ground       <fct> Hard, Hard, Hard, Hard, Hard, Hard, Hard, Hard…
$ tournament.date_start   <date> 2019-12-30, 2019-12-30, 2019-12-30, 2019-12-3…
$ tournament.date_finish  <date> 2020-01-12, 2020-01-12, 2020-01-12, 2020-01-1…
$ tournament.duration     <int> 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13…
$ tournament.prize        <dbl> 22200000, 22200000, 22200000, 22200000, 222000…
$ match.diffHeights       <dbl> 3, 0, -8, 28, -5, -10, 15, 5, 3, 3, -15, -2, 1…
$ match.avgHeights        <dbl> 186.5, 183.0, 179.0, 184.0, 182.5, 188.0, 190.…
$ tournament.month        <ord> Dec, Dec, Dec, Dec, Dec, Dec, Dec, Dec, Dec, D…
$ tournament.quarter      <fct> 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4…
$ tournament.dateDistance <drtn> -1421884800 secs, -1421884800 secs, -14218848…
$ match.diffRank          <int> 1, -25, 24, -9, 10, 13, -8, -23, -13, -151, 11…
$ match.avgRank           <dbl> 1.5, 21.5, 30.0, 9.5, 6.0, 27.5, 21.0, 41.5, 8…
$ winner.Anwins           <dbl> 13, 10, 13, 14, 5, 4, 11, 24, 13, 10, 18, 18, …
$ winner.Anlosses         <dbl> 1, 3, 3, 4, 5, 7, 4, 11, 1, 3, 12, 12, 3, 3, 3…
$ winner.Anjogos          <dbl> 14, 13, 16, 18, 10, 11, 15, 35, 14, 13, 30, 30…
$ winner.Awinrate         <dbl> 92.85714, 76.92308, 81.25000, 77.77778, 50.000…
$ looser.Anwins           <dbl> 9, 4, 18, 5, 9, 9, 3, 5, 6, 7, 3, 6, 4, 2, 5, …
$ looser.Anlosses         <dbl> 3, 7, 12, 7, 3, 7, 3, 7, 8, 8, 8, 8, 7, 5, 5, …
$ looser.Anjogos          <dbl> 12, 11, 30, 12, 12, 16, 6, 12, 14, 15, 11, 14,…
$ looser.Awinrate         <dbl> 75.00000, 36.36364, 60.00000, 41.66667, 75.000…
$ match.AnjogosDiff       <dbl> 2, 2, -14, 6, -2, -5, 9, 23, 0, -2, 19, 16, -6…
$ winner.nwins            <dbl> 1059, 644, 499, 386, 543, 446, 319, 232, 1059,…
$ winner.nlosses          <dbl> 218, 388, 308, 166, 303, 372, 212, 128, 218, 3…
$ winner.njogos           <dbl> 1277, 1032, 807, 552, 846, 818, 531, 360, 1277…
$ winner.winrate          <dbl> 82.92874, 62.40310, 61.83395, 69.92754, 64.184…
$ looser.nwins            <dbl> 9, 4, 18, 5, 9, 9, 3, 5, 6, 7, 3, 6, 4, 2, 5, …
$ looser.nlosses          <dbl> 3, 7, 12, 7, 3, 7, 3, 7, 8, 8, 8, 8, 7, 5, 5, …
$ looser.njogos           <dbl> 12, 11, 30, 12, 12, 16, 6, 12, 14, 15, 11, 14,…
$ looser.winrate          <dbl> 75.00000, 36.36364, 60.00000, 41.66667, 75.000…
$ match.njogosDiff        <dbl> 1265, 1021, 777, 540, 834, 802, 525, 348, 1263…

In [26]:
atpFull %>% 
    group_by(tournament.location, tournament.name, tournament.date_start) %>%
    summarise() %>%
    group_by(tournament.location) %>%
    summarise(tournament.locationFreq = n()) -> tfreq

atpPP %>% 
    left_join(tfreq, by=join_by(winner.bornAt == tournament.location)) %>% 
    rename(winner.bornAT.tournFreq = tournament.locationFreq) %>%
    left_join(tfreq, by=join_by(looser.bornAt == tournament.location)) %>% 
    rename(looser.bornAT.tournFreq = tournament.locationFreq) %>%
    mutate(
        winner.bornAt.hasTourn = winner.bornAT.tournFreq != 0,
        looser.bornAt.hasTourn = looser.bornAT.tournFreq != 0,
        match.playersBorn.hasTournXor = winner.bornAt.hasTourn == looser.bornAt.hasTourn,
        # match.playersBorn.hasTournAny = any(winner.bornAt.hasTourn, looser.bornAt.hasTourn), #all T
        match.playersBorn.tournFreqDiff = winner.bornAt.hasTourn - looser.bornAt.hasTourn,
    ) -> atpPPT
atpPPT %>% glimpse()

group_by: 3 grouping variables (tournament.location, tournament.name, tournament.date_start)

summarise: now 22,234 rows and 3 columns, 2 group variables remaining (tournament.location, tournament.name)

group_by: one grouping variable (tournament.location)

summarise: now 139 rows and 2 columns, ungrouped

rename: renamed one variable (winner.bornAT.tournFreq)

rename: renamed one variable (looser.bornAT.tournFreq)

mutate: new variable 'winner.bornAt.hasTourn' (logical) with 2 unique values and <1% NA

        new variable 'looser.bornAt.hasTourn' (logical) with 2 unique values and <1% NA

        new variable 'match.playersBorn.hasTournXor' (logical) with 2 unique values and <1% NA

        new variable 'match.playersBorn.tournFreqDiff' (integer) with 2 unique values and <1% NA

Rows: 6,365
Columns: 52
$ winner.name                     <chr> "Novak Djokovic", "Roberto Bautista Ag…
$ winner.id                       <chr> "d643", "bd06", "e687", "mm58", "gb88"…
$ winner.rank                     <int> 2, 9, 42, 5, 11, 34, 17, 30, 2, 9, 18,…
$ winner.bornAt                   <chr> "Serbia", "Spain", "United Kingdom", "…
$ match.domHands                  <fct> Right-Handed_Left-Handed, Right-Handed…
$ match.backHands                 <fct> Two-Handed Backhand_Two-Handed Backhan…
$ winner.height                   <dbl> 188, 183, 175, 198, 180, 183, 198, 193…
$ looser.name                     <chr> "Rafael Nadal", "Dusan Lajovic", "Alex…
$ looser.id                       <chr> "n409", "l987", "dh58", "sm37", "n409"…
$ looser.rank                     <int> 1, 34, 18, 14, 1, 21, 25, 53, 15, 160,…
$ looser.bornAt                   <chr> "Spain", "Serbia", "Australia", "Argen…
$ looser.height                   <dbl> 185, 183, 183, 170, 185, 193, 183, 188…
$ match.tournamentRound           <fct> Finals, Finals, Quarter-Finals, Quarte…
$ match.setsCount                 <fct> 2, 2, 3, 3, 2, 2, 2, 2, 3, 2, 3, 3, 3,…
$ match.hadTieBreaker             <lgl> FALSE, FALSE, TRUE, FALSE, FALSE, FALS…
$ tournament.name                 <chr> "ATP Cup", "ATP Cup", "ATP Cup", "ATP …
$ tournament.ground               <fct> Hard, Hard, Hard, Hard, Hard, Hard, Ha…
$ tournament.date_start           <date> 2019-12-30, 2019-12-30, 2019-12-30, 2…
$ tournament.date_finish          <date> 2020-01-12, 2020-01-12, 2020-01-12, 2…
$ tournament.duration             <int> 13, 13, 13, 13, 13, 13, 13, 13, 13, 13…
$ tournament.prize                <dbl> 22200000, 22200000, 22200000, 22200000…
$ match.diffHeights               <dbl> 3, 0, -8, 28, -5, -10, 15, 5, 3, 3, -1…
$ match.avgHeights                <dbl> 186.5, 183.0, 179.0, 184.0, 182.5, 188…
$ tournament.month                <ord> Dec, Dec, Dec, Dec, Dec, Dec, Dec, Dec…
$ tournament.quarter              <fct> 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,…
$ tournament.dateDistance         <drtn> -1421884800 secs, -1421884800 secs, -…
$ match.diffRank                  <int> 1, -25, 24, -9, 10, 13, -8, -23, -13, …
$ match.avgRank                   <dbl> 1.5, 21.5, 30.0, 9.5, 6.0, 27.5, 21.0,…
$ winner.Anwins                   <dbl> 13, 10, 13, 14, 5, 4, 11, 24, 13, 10, …
$ winner.Anlosses                 <dbl> 1, 3, 3, 4, 5, 7, 4, 11, 1, 3, 12, 12,…
$ winner.Anjogos                  <dbl> 14, 13, 16, 18, 10, 11, 15, 35, 14, 13…
$ winner.Awinrate                 <dbl> 92.85714, 76.92308, 81.25000, 77.77778…
$ looser.Anwins                   <dbl> 9, 4, 18, 5, 9, 9, 3, 5, 6, 7, 3, 6, 4…
$ looser.Anlosses                 <dbl> 3, 7, 12, 7, 3, 7, 3, 7, 8, 8, 8, 8, 7…
$ looser.Anjogos                  <dbl> 12, 11, 30, 12, 12, 16, 6, 12, 14, 15,…
$ looser.Awinrate                 <dbl> 75.00000, 36.36364, 60.00000, 41.66667…
$ match.AnjogosDiff               <dbl> 2, 2, -14, 6, -2, -5, 9, 23, 0, -2, 19…
$ winner.nwins                    <dbl> 1059, 644, 499, 386, 543, 446, 319, 23…
$ winner.nlosses                  <dbl> 218, 388, 308, 166, 303, 372, 212, 128…
$ winner.njogos                   <dbl> 1277, 1032, 807, 552, 846, 818, 531, 3…
$ winner.winrate                  <dbl> 82.92874, 62.40310, 61.83395, 69.92754…
$ looser.nwins                    <dbl> 9, 4, 18, 5, 9, 9, 3, 5, 6, 7, 3, 6, 4…
$ looser.nlosses                  <dbl> 3, 7, 12, 7, 3, 7, 3, 7, 8, 8, 8, 8, 7…
$ looser.njogos                   <dbl> 12, 11, 30, 12, 12, 16, 6, 12, 14, 15,…
$ looser.winrate                  <dbl> 75.00000, 36.36364, 60.00000, 41.66667…
$ match.njogosDiff                <dbl> 1265, 1021, 777, 540, 834, 802, 525, 3…
$ winner.bornAT.tournFreq         <int> 179, 1080, 711, 285, 230, 179, 285, 57…
$ looser.bornAT.tournFreq         <int> 1080, 179, 579, 438, 1080, 289, 438, 1…
$ winner.bornAt.hasTourn          <lgl> TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TR…
$ looser.bornAt.hasTourn          <lgl> TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TR…
$ match.playersBorn.hasTournXor   <lgl> TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TR…
$ match.playersBorn.tournFreqDiff <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…

In [27]:
# ultimo torneio do jogador
atpFull %>% 
    group_by(winner.name, winner.id, tournament.name, tournament.date_start) %>% 
    summarise() %>%
    arrange(tournament.date_start) %>% 
    group_by(winner.name, winner.id) %>%
    mutate(
        winner.nTournament         = row_number(),
        winner.lastTournamentDate  = lag(tournament.date_start),
        winner.lastTournamentDate  = ifelse(winner.lastTournamentDate %>% is.na, tournament.date_start, winner.lastTournamentDate),
        winner.lastTournamentDelay = -(tournament.date_start %--% winner.lastTournamentDate) %>% as.duration()
    ) %>% arrange(winner.name, winner.id) -> n
atpPPT %>% left_join(n) -> atpPPTL
# atpFull %>% 
#     group_by(looser.name, looser.id, tournament.name, tournament.date_start) %>% 
#     summarise() %>%
#     arrange(tournament.date_start) %>% 
#     group_by(looser.name, looser.id) %>%
#      mutate(
#         looser.nTournament         = row_number(),
#         looser.lastTournamentDate  = lag(tournament.date_start),
#         looser.lastTournamentDate  = ifelse(looser.lastTournamentDate %>% is.na, tournament.date_start, looser.lastTournamentDate),
#         looser.lastTournamentDelay = (tournament.date_start - winner.lastTournamentDate) %>% make_difftime(units = "weeks")
#     ) %>% arrange(looser.name, looser.id) -> n
# atpPPTLL <- atpPPTL %>% left_join(n)
atpPPTL %>% glimpse()

group_by: 4 grouping variables (winner.name, winner.id, tournament.name, tournament.date_start)

summarise: now 356,796 rows and 4 columns, 3 group variables remaining (winner.name, winner.id, tournament.name)

group_by: 2 grouping variables (winner.name, winner.id)

mutate (grouped): new variable 'winner.nTournament' (integer) with 361 unique values and 0% NA

                  new variable 'winner.lastTournamentDate' (double) with 2,709 unique values and 0% NA

                  new variable 'winner.lastTournamentDelay' (double) with 52,512 unique values and 0% NA

Joining with `by = join_by(winner.name, winner.id, tournament.name,
tournament.date_start)`

Rows: 6,365
Columns: 55
$ winner.name                     <chr> "Novak Djokovic", "Roberto Bautista Ag…
$ winner.id                       <chr> "d643", "bd06", "e687", "mm58", "gb88"…
$ winner.rank                     <int> 2, 9, 42, 5, 11, 34, 17, 30, 2, 9, 18,…
$ winner.bornAt                   <chr> "Serbia", "Spain", "United Kingdom", "…
$ match.domHands                  <fct> Right-Handed_Left-Handed, Right-Handed…
$ match.backHands                 <fct> Two-Handed Backhand_Two-Handed Backhan…
$ winner.height                   <dbl> 188, 183, 175, 198, 180, 183, 198, 193…
$ looser.name                     <chr> "Rafael Nadal", "Dusan Lajovic", "Alex…
$ looser.id                       <chr> "n409", "l987", "dh58", "sm37", "n409"…
$ looser.rank                     <int> 1, 34, 18, 14, 1, 21, 25, 53, 15, 160,…
$ looser.bornAt                   <chr> "Spain", "Serbia", "Australia", "Argen…
$ looser.height                   <dbl> 185, 183, 183, 170, 185, 193, 183, 188…
$ match.tournamentRound           <fct> Finals, Finals, Quarter-Finals, Quarte…
$ match.setsCount                 <fct> 2, 2, 3, 3, 2, 2, 2, 2, 3, 2, 3, 3, 3,…
$ match.hadTieBreaker             <lgl> FALSE, FALSE, TRUE, FALSE, FALSE, FALS…
$ tournament.name                 <chr> "ATP Cup", "ATP Cup", "ATP Cup", "ATP …
$ tournament.ground               <fct> Hard, Hard, Hard, Hard, Hard, Hard, Ha…
$ tournament.date_start           <date> 2019-12-30, 2019-12-30, 2019-12-30, 2…
$ tournament.date_finish          <date> 2020-01-12, 2020-01-12, 2020-01-12, 2…
$ tournament.duration             <int> 13, 13, 13, 13, 13, 13, 13, 13, 13, 13…
$ tournament.prize                <dbl> 22200000, 22200000, 22200000, 22200000…
$ match.diffHeights               <dbl> 3, 0, -8, 28, -5, -10, 15, 5, 3, 3, -1…
$ match.avgHeights                <dbl> 186.5, 183.0, 179.0, 184.0, 182.5, 188…
$ tournament.month                <ord> Dec, Dec, Dec, Dec, Dec, Dec, Dec, Dec…
$ tournament.quarter              <fct> 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,…
$ tournament.dateDistance         <drtn> -1421884800 secs, -1421884800 secs, -…
$ match.diffRank                  <int> 1, -25, 24, -9, 10, 13, -8, -23, -13, …
$ match.avgRank                   <dbl> 1.5, 21.5, 30.0, 9.5, 6.0, 27.5, 21.0,…
$ winner.Anwins                   <dbl> 13, 10, 13, 14, 5, 4, 11, 24, 13, 10, …
$ winner.Anlosses                 <dbl> 1, 3, 3, 4, 5, 7, 4, 11, 1, 3, 12, 12,…
$ winner.Anjogos                  <dbl> 14, 13, 16, 18, 10, 11, 15, 35, 14, 13…
$ winner.Awinrate                 <dbl> 92.85714, 76.92308, 81.25000, 77.77778…
$ looser.Anwins                   <dbl> 9, 4, 18, 5, 9, 9, 3, 5, 6, 7, 3, 6, 4…
$ looser.Anlosses                 <dbl> 3, 7, 12, 7, 3, 7, 3, 7, 8, 8, 8, 8, 7…
$ looser.Anjogos                  <dbl> 12, 11, 30, 12, 12, 16, 6, 12, 14, 15,…
$ looser.Awinrate                 <dbl> 75.00000, 36.36364, 60.00000, 41.66667…
$ match.AnjogosDiff               <dbl> 2, 2, -14, 6, -2, -5, 9, 23, 0, -2, 19…
$ winner.nwins                    <dbl> 1059, 644, 499, 386, 543, 446, 319, 23…
$ winner.nlosses                  <dbl> 218, 388, 308, 166, 303, 372, 212, 128…
$ winner.njogos                   <dbl> 1277, 1032, 807, 552, 846, 818, 531, 3…
$ winner.winrate                  <dbl> 82.92874, 62.40310, 61.83395, 69.92754…
$ looser.nwins                    <dbl> 9, 4, 18, 5, 9, 9, 3, 5, 6, 7, 3, 6, 4…
$ looser.nlosses                  <dbl> 3, 7, 12, 7, 3, 7, 3, 7, 8, 8, 8, 8, 7…
$ looser.njogos                   <dbl> 12, 11, 30, 12, 12, 16, 6, 12, 14, 15,…
$ looser.winrate                  <dbl> 75.00000, 36.36364, 60.00000, 41.66667…
$ match.njogosDiff                <dbl> 1265, 1021, 777, 540, 834, 802, 525, 3…
$ winner.bornAT.tournFreq         <int> 179, 1080, 711, 285, 230, 179, 285, 57…
$ looser.bornAT.tournFreq         <int> 1080, 179, 579, 438, 1080, 289, 438, 1…
$ winner.bornAt.hasTourn          <lgl> TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TR…
$ looser.bornAt.hasTourn          <lgl> TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TR…
$ match.playersBorn.hasTournXor   <lgl> TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TR…
$ match.playersBorn.tournFreqDiff <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ winner.nTournament              <int> 265, 277, 178, 112, 222, 203, 118, 91,…
$ winner.lastTournamentDate       <dbl> 18218, 18218, 18218, 18176, 18218, 181…
$ winner.lastTournamentDelay      <Duration> 1577645782s (~49.99 years), 15776…

In [28]:
atpFull %>% 
    group_by(winner.name, winner.id, tournament.name, tournament.date_start) %>% 
    summarise() %>%
    arrange(tournament.date_start) %>% 
    rename(player.name = winner.name, player.id = winner.id) -> a
atpFull %>% 
    group_by(looser.name, looser.id, tournament.name, tournament.date_start) %>% 
    summarise() %>%
    arrange(tournament.date_start) %>% 
    rename(player.name = looser.name, player.id = looser.id) -> b
bind_rows(a, b) %>% 
   group_by(player.name, player.id) %>%
   mutate(
       player.nTournament          = row_number(),
       player.lastTournamentDate   = ifelse(player.nTournament == 1, tournament.date_start, lag(tournament.date_start)) %>% as.Date,
       player.lastTournamentDelayW = -interval(tournament.date_start, player.lastTournamentDate) / dweeks(1)#as weeks
   ) %>% select(-player.lastTournamentDate) -> ab

atpPPT %>% 
    left_join(ab, by=join_by(
        winner.name == player.name, 
        winner.id == player.id, 
        tournament.date_start == tournament.date_start,
        tournament.name == tournament.name
    ), relationship = "many-to-many") %>%
    rename_with(\(x) str_replace(x, "player", "winner"), starts_with("player")) %>%
    left_join(ab, by=join_by(
        looser.name == player.name, 
        looser.id == player.id, 
        tournament.date_start == tournament.date_start,
        tournament.name == tournament.name
    ), relationship = "many-to-many") %>%
    rename_with(\(x) str_replace(x, "player", "looser"), starts_with("player")) -> atpPPTD
atpPPTD %>% glimpse()

group_by: 4 grouping variables (winner.name, winner.id, tournament.name, tournament.date_start)

summarise: now 356,796 rows and 4 columns, 3 group variables remaining (winner.name, winner.id, tournament.name)

rename: renamed 2 variables (player.name, player.id)

group_by: 4 grouping variables (looser.name, looser.id, tournament.name, tournament.date_start)

summarise: now 677,391 rows and 4 columns, 3 group variables remaining (looser.name, looser.id, tournament.name)

rename: renamed 2 variables (player.name, player.id)

group_by: 2 grouping variables (player.name, player.id)

mutate (grouped): new variable 'player.nTournament' (integer) with 883 unique values and 0% NA

                  new variable 'player.lastTournamentDate' (Date) with 2,714 unique values and 0% NA

                  new variable 'player.lastTournamentDelayW' (double) with 2,013 unique values and 0% NA

select: dropped one variable (player.lastTournamentDate)

rename_with: renamed 2 variables (winner.nTournament, winner.lastTournamentDelayW)

rename_with: renamed 2 variables (looser.nTournament, looser.lastTournamentDelayW)

Rows: 17,926
Columns: 56
$ winner.name                     <chr> "Novak Djokovic", "Novak Djokovic", "R…
$ winner.id                       <chr> "d643", "d643", "bd06", "bd06", "e687"…
$ winner.rank                     <int> 2, 2, 9, 9, 42, 42, 42, 42, 5, 5, 5, 5…
$ winner.bornAt                   <chr> "Serbia", "Serbia", "Spain", "Spain", …
$ match.domHands                  <fct> Right-Handed_Left-Handed, Right-Handed…
$ match.backHands                 <fct> Two-Handed Backhand_Two-Handed Backhan…
$ winner.height                   <dbl> 188, 188, 183, 183, 175, 175, 175, 175…
$ looser.name                     <chr> "Rafael Nadal", "Rafael Nadal", "Dusan…
$ looser.id                       <chr> "n409", "n409", "l987", "l987", "dh58"…
$ looser.rank                     <int> 1, 1, 34, 34, 18, 18, 18, 18, 14, 14, …
$ looser.bornAt                   <chr> "Spain", "Spain", "Serbia", "Serbia", …
$ looser.height                   <dbl> 185, 185, 183, 183, 183, 183, 183, 183…
$ match.tournamentRound           <fct> Finals, Finals, Finals, Finals, Quarte…
$ match.setsCount                 <fct> 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 2,…
$ match.hadTieBreaker             <lgl> FALSE, FALSE, FALSE, FALSE, TRUE, TRUE…
$ tournament.name                 <chr> "ATP Cup", "ATP Cup", "ATP Cup", "ATP …
$ tournament.ground               <fct> Hard, Hard, Hard, Hard, Hard, Hard, Ha…
$ tournament.date_start           <date> 2019-12-30, 2019-12-30, 2019-12-30, 2…
$ tournament.date_finish          <date> 2020-01-12, 2020-01-12, 2020-01-12, 2…
$ tournament.duration             <int> 13, 13, 13, 13, 13, 13, 13, 13, 13, 13…
$ tournament.prize                <dbl> 22200000, 22200000, 22200000, 22200000…
$ match.diffHeights               <dbl> 3, 3, 0, 0, -8, -8, -8, -8, 28, 28, 28…
$ match.avgHeights                <dbl> 186.5, 186.5, 183.0, 183.0, 179.0, 179…
$ tournament.month                <ord> Dec, Dec, Dec, Dec, Dec, Dec, Dec, Dec…
$ tournament.quarter              <fct> 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,…
$ tournament.dateDistance         <drtn> -1421884800 secs, -1421884800 secs, -…
$ match.diffRank                  <int> 1, 1, -25, -25, 24, 24, 24, 24, -9, -9…
$ match.avgRank                   <dbl> 1.5, 1.5, 21.5, 21.5, 30.0, 30.0, 30.0…
$ winner.Anwins                   <dbl> 13, 13, 10, 10, 13, 13, 13, 13, 14, 14…
$ winner.Anlosses                 <dbl> 1, 1, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 5,…
$ winner.Anjogos                  <dbl> 14, 14, 13, 13, 16, 16, 16, 16, 18, 18…
$ winner.Awinrate                 <dbl> 92.85714, 92.85714, 76.92308, 76.92308…
$ looser.Anwins                   <dbl> 9, 9, 4, 4, 18, 18, 18, 18, 5, 5, 5, 5…
$ looser.Anlosses                 <dbl> 3, 3, 7, 7, 12, 12, 12, 12, 7, 7, 7, 7…
$ looser.Anjogos                  <dbl> 12, 12, 11, 11, 30, 30, 30, 30, 12, 12…
$ looser.Awinrate                 <dbl> 75.00000, 75.00000, 36.36364, 36.36364…
$ match.AnjogosDiff               <dbl> 2, 2, 2, 2, -14, -14, -14, -14, 6, 6, …
$ winner.nwins                    <dbl> 1059, 1059, 644, 644, 499, 499, 499, 4…
$ winner.nlosses                  <dbl> 218, 218, 388, 388, 308, 308, 308, 308…
$ winner.njogos                   <dbl> 1277, 1277, 1032, 1032, 807, 807, 807,…
$ winner.winrate                  <dbl> 82.92874, 82.92874, 62.40310, 62.40310…
$ looser.nwins                    <dbl> 9, 9, 4, 4, 18, 18, 18, 18, 5, 5, 5, 5…
$ looser.nlosses                  <dbl> 3, 3, 7, 7, 12, 12, 12, 12, 7, 7, 7, 7…
$ looser.njogos                   <dbl> 12, 12, 11, 11, 30, 30, 30, 30, 12, 12…
$ looser.winrate                  <dbl> 75.00000, 75.00000, 36.36364, 36.36364…
$ match.njogosDiff                <dbl> 1265, 1265, 1021, 1021, 777, 777, 777,…
$ winner.bornAT.tournFreq         <int> 179, 179, 1080, 1080, 711, 711, 711, 7…
$ looser.bornAT.tournFreq         <int> 1080, 1080, 179, 179, 579, 579, 579, 5…
$ winner.bornAt.hasTourn          <lgl> TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TR…
$ looser.bornAt.hasTourn          <lgl> TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TR…
$ match.playersBorn.hasTournXor   <lgl> TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TR…
$ match.playersBorn.tournFreqDiff <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ winner.nTournament              <int> 265, 265, 277, 277, 178, 178, 462, 462…
$ winner.lastTournamentDelayW     <dbl> 6, 6, 6, 6, 6, 6, 6, 6, 12, 12, 7, 7, …
$ looser.nTournament              <int> 292, 521, 203, 544, 71, 192, 71, 192, …
$ looser.lastTournamentDelayW     <dbl> 6, 7, 11, 9, 6, 8, 6, 8, 6, 6, 6, 6, 6…

In [29]:
# atpPPTD %>% SmartEDA::ExpReport(Target = "match.setsCount", op_file="temp.html")
# atpPPTD %>% SmartEDA::ExpNumViz(target = "match.setsCount", col = c("Red", "Blue"), fname="temp.scatters", scatter=T)

Coisas a notar: 

* tournament duration é melhor ser categórico ou ordinal
* height sugere ser melhor ordinal ou range
* prize precisa de mais eda mas probs deve ser range ou até binario
* freq tourneio deve ser preciso ser categorico ou normalizar 
* diff rank deve ser normalizado tmb (posivitive skew)
* possivelmente seja bom dar oversample de domHands e tournament.ground (embora eles estejam igualmene distribuidos na var (n me lembro se é bom ou mau)) 
* match.setCount está 2/3 3 jogos
* secalhar seria bom agrupar backhands, tournament.quarter
* as categoricas estão todas igualmente distribuidas em termos da target

In [30]:
atpPPTD %>% 
    group_by(winner.height) %>%
    summarise(n = n(), prop = n*100/nrow(.)) %>%
    mutate(propSum = cumsum(prop), range = propSum %/% 20)

group_by: one grouping variable (winner.height)

summarise: now 18 rows and 3 columns, ungrouped

mutate: new variable 'propSum' (double) with 18 unique values and 0% NA

        new variable 'range' (double) with 6 unique values and 0% NA

   winner.height n    prop        propSum      range
1  163             11  0.06136338   0.06136338 0
2  168            186  1.03759902   1.09896240 0
3  170            238  1.32768046   2.42664287 0
4  173            198  1.10454089   3.53118376 0
5  175            773  4.31217226   7.84335602 0
6  178           1303  7.26877162  15.11212764 0
7  180           2194 12.23920562  27.35133326 1
8  183           3830 21.36561419  48.71694745 2
9  185           2118 11.81524043  60.53218788 3
10 188           3232 18.02967756  78.56186545 3
11 191           1473  8.21711481  86.77898025 4
12 193           1297  7.23530068  94.01428093 4
13 196            561  3.12953252  97.14381346 4
14 198            340  1.89668638  99.04049983 4
15 201            114  0.63594779  99.67644762 4
16 203             40  0.22313957  99.89958719 4
17 208              2  0.01115698  99.91074417 4
18 211             16  0.08925583 100.00000000 5

In [31]:
atpPPTD %>% group_by(atpPPTD$match.backHands) %>% summarise(n = n(),  prop = n*100/nrow(.))

group_by: one grouping variable (atpPPTD$match.backHands)

summarise: now 9 rows and 3 columns, ungrouped

  atpPPTD$match.backHands                 n    prop
1 One-Handed Backhand_One-Handed Backhand  271  1.511771
2 One-Handed Backhand_Two-Handed Backhand 1272  7.095838
3 One-Handed Backhand_Unknown Backhand     693  3.865893
4 Two-Handed Backhand_One-Handed Backhand 1216  6.783443
5 Two-Handed Backhand_Two-Handed Backhand 7677 42.826063
6 Two-Handed Backhand_Unknown Backhand    1532  8.546246
7 Unknown Backhand_One-Handed Backhand     607  3.386143
8 Unknown Backhand_Two-Handed Backhand    1383  7.715051
9 Unknown Backhand_Unknown Backhand       3275 18.269553

In [32]:
atpPPTD %>% group_by(atpPPTD$tournament.quarter) %>% summarise(n = n(),  prop = n*100/nrow(.))

group_by: one grouping variable (atpPPTD$tournament.quarter)

summarise: now 4 rows and 3 columns, ungrouped

  atpPPTD$tournament.quarter n    prop
1 1                          9655 53.860315
2 2                           186  1.037599
3 3                          1463  8.161330
4 4                          6622 36.940756

In [33]:
atpPPTD %>% arrange(winner.height) %>% mutate(
    tournament.durationF  = tournament.duration %>% as_factor(),
    tournament.durationFL = tournament.durationF %>% fct_lump_n(1),
    winner.heightF        = winner.height %>% as_factor() %>% fct_inseq(),
    looser.heightF        = looser.height %>% as_factor() %>% fct_inseq(),
    winner.heightFC       = case_when( # division on 33/66
        winner.height <= 180 ~ "]163, 180]",
        winner.height <= 186 ~ "]180, 186]",
        TRUE                 ~ "]186, 211]"
    ) %>% as_factor() %>% fct_inorder()
) %>% arrange(looser.height) %>% mutate(
    looser.heightFC       = case_when(
        looser.height <= 180 ~ "]163, 180]",
        looser.height <= 186 ~ "]180, 186]",
        TRUE                 ~ "]186, 211]"
    ) %>% as_factor() %>% fct_inorder(),
    match.heightFCvs = paste(winner.heightFC, looser.heightFC, sep=" vs ") %>% as_factor(),
) %>% mutate(
    match.backHandsL1 = match.backHands %>% fct_lump_n(1),
    match.backHandsL2 = match.backHands %>% fct_lump_n(2),
    tournament.quarterL1 = tournament.quarter %>% fct_lump_n(1),
    tournament.quarterL2 = tournament.quarter %>% fct_lump_n(2)
)-> featurefull



#featurefull %>% skim(
#    tournament.durationF, 
#    tournament.durationFL, 
#    winner.heightF, 
#    looser.heightF,
#    winner.heightFC,
#    looser.heightFC,
#    match.heightFCvs,
#    match.backHandsL1,
#    match.backHandsL2,
#    tournament.quarterL1,
#    tournament.quarterL2,
#)

mutate: new variable 'tournament.durationF' (factor) with 5 unique values and 0% NA

        new variable 'tournament.durationFL' (factor) with 2 unique values and 0% NA

        new variable 'winner.heightF' (factor) with 18 unique values and 0% NA

        new variable 'looser.heightF' (factor) with 18 unique values and 0% NA

        new variable 'winner.heightFC' (factor) with 3 unique values and 0% NA

mutate: new variable 'looser.heightFC' (factor) with 3 unique values and 0% NA

        new variable 'match.heightFCvs' (factor) with 9 unique values and 0% NA

mutate: new variable 'match.backHandsL1' (factor) with 2 unique values and 0% NA

        new variable 'match.backHandsL2' (factor) with 3 unique values and 0% NA

        new variable 'tournament.quarterL1' (factor) with 2 unique values and 0% NA

        new variable 'tournament.quarterL2' (factor) with 3 unique values and 0% NA

In [34]:
featurefull %>% arrow::write_parquet(here("data", "featurefull.parquet"))