In [ ]:
here::i_am("readme.md")
library(here)
library(tidyverse)

here() starts at C:/Users/Plancha/Desktop/PACD

── Attaching core tidyverse packages ─────────────────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.1     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1

In [ ]:
arrow::read_parquet(here("data", "atpRaw.parquet"), as_data_frame = TRUE) -> atp

In [ ]:
atp %>% summarise_all(~sum(is.na(.) | str_trim(.) == ""))

  Born   Date GameRank GameRound Ground Hand Height LinkPlayer Location Oponent
1 320752 0    19236    0         191    0    0      0          0        7
  PlayerName Prize Score Tournament WL    _id.$oid
1 0          19136 161   0          19257 0

In [ ]:
atp %>% group_by(Location) %>% 
    separate_wider_delim(Location, delim=",", names=c("City", "Country"), too_few="debug", too_many="debug") %>%
    select(City, Country, Location, Location_ok, Location_pieces) -> atpLocations

Warning message:
"Debug mode activated: adding variables `Location_ok`, `Location_pieces`, and `Location_remainder`."

In [ ]:
atpLocations %>% filter(is.na(Country))

       City               Country Location           Location_ok
1      Serbia             NA      Serbia             FALSE
2      Serbia             NA      Serbia             FALSE
3      Serbia             NA      Serbia             FALSE
4      Great Britain      NA      Great Britain      FALSE
5      Great Britain      NA      Great Britain      FALSE
6      Great Britain      NA      Great Britain      FALSE
7      Great Britain      NA      Great Britain      FALSE
8      Serbia             NA      Serbia             FALSE
9      Croatia            NA      Croatia            FALSE
10     Croatia            NA      Croatia            FALSE
11     Serbia             NA      Serbia             FALSE
12     Serbia             NA      Serbia             FALSE
13     Great Britain      NA      Great Britain      FALSE
14     Great Britain      NA      Great Britain      FALSE
15     Great Britain      NA      Great Britain      FALSE
16     Spain              NA      Spain              FALSE
17     Spain              NA      Spain              FALSE
18     China              NA      China              FALSE
19     China              NA      China              FALSE
20     China              NA      China              FALSE
21     China              NA      China              FALSE
22     China              NA      China              FALSE
23     Slovak Republic    NA      Slovak Republic    FALSE
24     Russia             NA      Russia             FALSE
25     China              NA      China              FALSE
26     China              NA      China              FALSE
27     China              NA      China              FALSE
28     Serbia             NA      Serbia             FALSE
29     Serbia             NA      Serbia             FALSE
30     Serbia             NA      Serbia             FALSE
⋮      ⋮                  ⋮       ⋮                  ⋮
291580 Portugal           NA      Portugal           FALSE
291581 Portugal           NA      Portugal           FALSE
291582 Dominican Republic NA      Dominican Republic FALSE
291583 Dominican Republic NA      Dominican Republic FALSE
291584 Netherlands        NA      Netherlands        FALSE
291585 Netherlands        NA      Netherlands        FALSE
291586 Netherlands        NA      Netherlands        FALSE
291587 Spain              NA      Spain              FALSE
291588 Spain              NA      Spain              FALSE
291589 Spain              NA      Spain              FALSE
291590 Great Britain      NA      Great Britain      FALSE
291591 Turkey             NA      Turkey             FALSE
291592 Turkey             NA      Turkey             FALSE
291593 Portugal           NA      Portugal           FALSE
291594 Portugal           NA      Portugal           FALSE
291595 Portugal           NA      Portugal           FALSE
291596 Portugal           NA      Portugal           FALSE
291597 Italy              NA      Italy              FALSE
291598 Italy              NA      Italy              FALSE
291599 Georgia            NA      Georgia            FALSE
291600 Spain              NA      Spain              FALSE
291601 Spain              NA      Spain              FALSE
291602 Spain              NA      Spain              FALSE
291603 Spain              NA      Spain              FALSE
291604 Portugal           NA      Portugal           FALSE
291605 Portugal           NA      Portugal           FALSE
291606 Portugal           NA      Portugal           FALSE
291607 Portugal           NA      Portugal           FALSE
291608 Portugal           NA      Portugal           FALSE
291609 Morocco            NA      Morocco            FALSE
       Location_pieces
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     1
24     1
25     1
26     1
27     1
28     1
29     1
30     1
⋮      ⋮
291580 1
291581 1
291582 1
291583 1
291584 1
291585 1
291586 1
291587 1
291588 1
291589 1
291590 1
291591 1
291592 1
291593 1
291594 1
291595 1
291596 1
291597 1
291598 1
291599 1
291600 1
291601 1
291602 1
291603 1
291604 1
291605 1
291606 1
291607 1
291608 1
291609 1