In [ ]:
arrow::read_parquet(here("data", "atpTrans.parquet")) -> atp
atp %>% glimpse()

ERROR: Error in augment.data.frame(.): augment's first argument should be a model, not a data.frame

In [ ]:
atp %>% filter(tournament.location == "Australia") -> atpA

In [ ]:
# parquet doesn't seem to save factor
atpA %>% mutate(
    winner.backHand = winner.backHand             %>% as.factor,
    winner.domHand  = winner.domHand              %>% as.factor,
    looser.backHand = looser.backHand             %>% as.factor,
    looser.domHand  = looser.domHand              %>% as.factor,
    match.tournamentRound = match.tournamentRound %>% as.factor,
    tournament.ground = tournament.ground         %>% as.factor,
    tournament.location = tournament.location     %>% as.factor,
    winner.bornAt = winner.bornAt                 %>% as.factor,
    looser.bornAt = looser.bornAt                 %>% as.factor,
    match.setsCount = match.setsCount             %>% as.factor,
) -> atpAF

In [ ]:
if (FALSE) {
    atpAF %>% SmartEDA::ExpReport(op_file = "temp.html")
}

In [ ]:
(atpAF %>% nrow() -> nmatches.inicial)

[1] 21388

In [ ]:
# things to fix:
# prize ✔
# maybe dont include those that are both heights missing✔
# remove rets walkovers and defs✔
# decide on how to remove best of 5 tournaments✔
# turn nas into a factor too in backhand and domHand (backhand already has an unkown)
# fazer eda do rank para perceber como tratalos
# tratar heights✔

In [ ]:
# prize
atpAF %>% 
    select(tournament.prize) %>%
    filter(str_detect(tournament.prize, fixed("$"), negate=T))

     tournament.prize

In [ ]:
# no prizes without dollar
atpAF %>%
    mutate(tp = str_remove_all(tournament.prize, r"{[,\$]}")) %>%
    filter(str_detect(tp, r"{[^0-9]}")) %>% 
    select(tp)

     tp
1    A9609870
2    A9609870
3    A9609870
4    A9609870
5    A9609870
6    A9609870
7    A9609870
8    A9609870
9    A9609870
10   A9609870
11   A9609870
12   A9609870
13   A9609870
14   A9609870
15   A9609870
16   A9609870
17   A9609870
18   A9609870
19   A9609870
20   A9609870
21   A9609870
22   A9609870
23   A9609870
24   A9609870
25   A9609870
26   A9609870
27   A9609870
28   A9609870
29   A9609870
30   A9609870
⋮    ⋮
3553 A33784200
3554 A33784200
3555 A33784200
3556 A33784200
3557 A33784200
3558 A33784200
3559 A33784200
3560 A33784200
3561 A33784200
3562 A33784200
3563 A33784200
3564 A33784200
3565 A33784200
3566 A33784200
3567 A33784200
3568 A33784200
3569 A33784200
3570 A33784200
3571 A33784200
3572 A33784200
3573 A33784200
3574 A33784200
3575 A33784200
3576 A33784200
3577 A33784200
3578 A33784200
3579 A33784200
3580 A33784200
3581 A33784200
3582 A33784200

In [ ]:
# australian dollar
atpAF %>%
    mutate(tp = str_remove_all(tournament.prize, r"{[,\$A]}")) %>%
    filter(str_detect(tp, r"{[^0-9]}")) %>% 
    select(tp)

     tp

In [ ]:
doll_to_aus <- \(x) x*1.48
atpAF %>%
    rename(tp = tournament.prize) %>% 
    mutate(tournament.prize = case_when(
        tp %>% is.na()                 ~ NA,
        tp %>% str_detect(fixed("A$")) ~ tp %>% str_remove_all(r"{[\A$,]}") %>% as.double(),
        tp %>% str_detect(fixed("$"))  ~ tp %>% str_remove_all(r"{[\$,]}")  %>% as.double() %>% doll_to_aus(),
        TRUE ~ 9e+9
     )) %>% select(-tp) -> atpAFP
atpAFP %>% filter(tournament.prize == 9e+9) %>% nrow()

Warning message:
"There was 1 warning in `mutate()`.
ℹ In argument: `tournament.prize = case_when(...)`.
Caused by warning in `doll_to_aus()`:
! NAs introduced by coercion"

[1] 0

In [ ]:
library(skimr)
# atpAFP %>% skim(winner.height, looser.height) # yields error because of jup

In [ ]:
atpAFP %>% mutate(
    winner.height = ifelse(winner.height == 0, NA, winner.height), 
    looser.height = ifelse(looser.height == 0, NA, looser.height), 
) -> atpAFPH.wNA
# atpAFPH.wNA %>% skim(winner.height, looser.height)
# interpolate heights?
# maybe if we don't get enough observations

In [ ]:
atpAFPH <- atpAFPH.wNA %>% filter(!is.na(winner.height) & !is.na(looser.height))
# atpAFPH %>% skim(winner.height, looser.height)

In [ ]:
atpAFPH %>% filter(winner.height < 160) %>% distinct(winner.id)

  winner.id
1 s406
2 h431

In [ ]:
atpAFPH %>% filter(looser.height < 160) %>% distinct(looser.id)

  looser.id
1 s406
2 h431

TODO texto mas

* h431 -> 180 cm
* s406 -> 188 cm

In [ ]:
atpAFPHF <- atpAFPH %>% mutate(winner.height = case_when(
    winner.id == "h431" ~ 180,
    winner.id == "s406" ~ 188,
    TRUE ~ winner.height
), looser.height = case_when(
    looser.id == "h431" ~ 180,
    looser.id == "s406" ~ 188,
    TRUE ~ looser.height
))
# atpAFPHF %>% skim(winner.height, looser.height)

In [ ]:
atpAFPHFR <- atpAFPHF %>% 
    filter(!match.wasRet, !match.wasWalkover, !match.wasDef) %>%
    select(-match.wasRet, -match.wasWalkover, -match.wasDef)
# atpAFPHFR %>% select(starts_with("match")) %>% skim()

In [ ]:
# tournaments best of 5
atpAFPHFR -> atp.wbo5
atp.wbo5 %>% 
    group_by(tournament.name) %>% 
    filter(!any(match.setsCount %>% as.integer > 3)) %>%
    ungroup() -> atp.wo45

In [ ]:
atp.wo45 %>% 
    group_by(tournament.name) %>% 
    filter(all(match.setsCount == 3)) %>% 
    summarise()

  tournament.name
1 AUS v. MAR WG PO
2 AUS v. SWE WG 1st RD
3 AUS vs. SVK WG Play-Off
4 Adelaide-2
5 ROM V AUS QF

TODO ver quais destes sao melhor de 3 e melhores de 5, dps tirar esses

In [ ]:
toRem = c("AUS v. MAR WG PO","AUS v. SWE WG 1st RD","AUS vs. SVK WG Play-Off","ROM V AUS QF")
atp.wo45 %>% filter(!(tournament.name %in% toRem)) -> atp.wobo5

In [ ]:
atp.wobo5 %>% nrow()

[1] 6839

In [ ]:
# atp.wobo5 %>% skim(winner.domHand, looser.domHand, winner.backHand,looser.backHand)

In [ ]:
df <- atp.wobo5 %>% 
    filter(!(looser.domHand %>% is.na) & looser.domHand != "Ambidextrous") %>%
    filter(!(looser.rank %>% is.na) & !(winner.rank %>% is.na))
# df %>% skim(winner.domHand, looser.domHand, winner.backHand,looser.backHand)

In [ ]:
# features q faltam:
# diferenca de alturas✔
# media de alturas✔
# idades (*)
# numero de jogos jogados - diferenca/numero de wins/winrate
# frequencia de jogos do pais de naturalidade
# se pais tem jogos - condicao/contagem/diferenca/diferenca de condicao
# domhand comparacao ✔
# backhand comparacao ✔
# tipo do torneio (afonse)
# frequencia do torneio
# mes do torneio ✔
# distancia ao ultimo torneio/primeiro ✔
# premio (precisa eda) 
# distancia da ronda final (chaves)
# diferenca de rank ✔ /categoria de rank (eda)

In [ ]:
firstT <- df %>% arrange(tournament.date_start) %>% head(1) |> _$tournament.date_start
firstT

[1] "1974-12-09"

In [ ]:
df %>%
    unite("match.domHands", c(winner.domHand, looser.domHand)) %>%
    unite("match.backHands", c(winner.backHand, looser.backHand)) %>%
    mutate(
        match.domHands          = match.domHands %>% as.factor(),
        match.backHands         = match.backHands %>% as.factor(),
        match.diffHeights       = winner.height - looser.height,
        match.avgHeights        = rowMeans(across(c(winner.height, looser.height))),
        tournament.month        = month(tournament.date_start, label=T),
        tournament.quarter      = quarter(tournament.date_start) %>% as.factor(),
        tournament.dateDistance = difftime(firstT, tournament.date_start, units = "weeks"),
        match.diffRank          = winner.rank - looser.rank,
        match.avgRank           = rowMeans(across(c(winner.rank, looser.rank)))
    ) %>% 
    select(-winner.name, -winner.id, -looser.name, -looser.id, -tournament.location) %>% 
    mutate(match.setsCount = fct_drop(match.setsCount))->  dfF
# dfF %>% skim()

In [ ]:
dfF %>% nrow()

[1] 6365

In [ ]:
# spliting
set.seed(1)
df.split <- initial_split(dfF, prop = 3/4, strata = match.setsCount)
df.train <- training(df.split)
df.test  <- testing (df.split)
# vfold
# df.10fold <- vfold_cv(dfF, v = 5, repeats = 5)

In [ ]:
# first model
models.first <- workflow() %>% 
    add_model(logistic_reg(mode="classification")) %>%
    add_formula(match.setsCount ~ 
        tournament.dateDistance + 
        match.domHands + 
        match.backHands + 
        match.tournamentRound + 
        tournament.ground + 
        tournament.quarter + 
        match.hadTieBreaker + 
        tournament.duration + 
        match.diffHeights + 
        match.diffRank,
    ) %>% fit(df.train) # fit_resamples(df.10fold)
models.first %>% glance()

  null.deviance df.null logLik    AIC      BIC      deviance df.residual nobs
1 6099.459      4772    -2910.795 5887.589 6101.124 5821.589 4740        4773

In [ ]:
models.first.pred <- predict(models.first, df.test)
models.first.vs <- cbind(pred = models.first.pred, truth = df.test$match.setsCount) %>% rename(pred = .pred_class)
models.first.vs

     pred truth
1    2    2
2    2    3
3    2    2
4    3    3
5    2    3
6    2    2
7    2    2
8    2    2
9    2    3
10   2    2
11   2    2
12   2    3
13   2    2
14   3    3
15   2    2
16   2    3
17   3    2
18   2    2
19   2    2
20   2    3
21   3    3
22   2    2
23   2    2
24   2    2
25   3    3
26   2    2
27   2    3
28   2    2
29   2    2
30   2    3
⋮    ⋮    ⋮
1563 2    2
1564 2    2
1565 2    2
1566 3    3
1567 2    2
1568 2    3
1569 2    3
1570 2    3
1571 2    2
1572 2    2
1573 3    2
1574 2    3
1575 2    2
1576 3    3
1577 2    2
1578 2    2
1579 2    2
1580 2    2
1581 2    2
1582 2    2
1583 2    2
1584 2    2
1585 2    2
1586 2    2
1587 2    3
1588 2    2
1589 3    2
1590 3    2
1591 2    2
1592 2    2

In [ ]:
models.first.vs %>% accuracy(truth= truth, estimate = pred)

  .metric  .estimator .estimate
1 accuracy binary     0.673995

In [ ]:
models.first.vs %>% f_meas(truth= truth, estimate = pred)

  .metric .estimator .estimate
1 f_meas  binary     0.7831174

In [ ]:
models.first.vs %>% roc_auc_vec(truth= .$truth, estimate = .$pred, estimator = "binary")

ERROR: Error in `roc_auc_vec()`:
! `estimate` should be a numeric vector, not a `factor` vector.

In [ ]:
models.first.vs %>% roc_curve(truth= truth, estimate = pred, estimator = "binary")

ERROR: Error in `roc_curve()`:
! Can't rename variables in this context.